In [12]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

In [13]:
# Creating database , connection to database , converting information in csv to table 
df=pd.read_csv('US_Regional_Sales_Data.csv')
conn=sqlite3.connect('Regional_sales.db')
cursor= conn.cursor()
df.to_sql('US_regional_sales',conn,if_exists='replace', index=False)

7991

In [14]:
# Removing rows with NaN (spaces with no inofrmatiaon)  
df.dropna(inplace=True)
df

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,SO - 000101,In-Store,WARE-UHY1004,31/12/17,31/5/18,14/6/18,19/6/18,USD,6,15,259,12,5,0.075,"1,001.18","1,963.10"
1,SO - 000102,Online,WARE-NMK1003,31/12/17,31/5/18,22/6/18,2/7/18,USD,14,20,196,27,3,0.075,"3,348.66","3,939.60"
2,SO - 000103,Distributor,WARE-UHY1004,31/12/17,31/5/18,21/6/18,1/7/18,USD,21,16,213,16,1,0.050,781.22,"1,775.50"
3,SO - 000104,Wholesale,WARE-NMK1003,31/12/17,31/5/18,2/6/18,7/6/18,USD,28,48,107,23,8,0.075,"1,464.69","2,324.90"
4,SO - 000105,Distributor,WARE-NMK1003,10/4/18,31/5/18,16/6/18,26/6/18,USD,22,49,111,26,8,0.100,"1,476.14","1,822.40"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,In-Store,WARE-MKL1006,26/9/20,30/12/20,7/1/21,14/1/21,USD,9,41,339,29,1,0.075,121.94,234.5
7987,SO - 0008088,Online,WARE-NMK1003,26/9/20,30/12/20,2/1/21,4/1/21,USD,14,29,202,3,6,0.050,"1,921.56","3,202.60"
7988,SO - 0008089,Online,WARE-UHY1004,26/9/20,30/12/20,23/1/21,26/1/21,USD,14,32,241,35,5,0.200,"2,792.76","3,825.70"
7989,SO - 0008090,Online,WARE-NMK1003,26/9/20,30/12/20,20/1/21,25/1/21,USD,20,42,112,36,8,0.100,804,"1,072.00"
7990,SO - 0008091,In-Store,WARE-UHY1004,26/9/20,30/12/20,13/1/21,19/1/21,USD,6,41,237,43,5,0.075,"1,370.82","2,211.00"

In [15]:
df.columns.to_list()
df

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,SO - 000101,In-Store,WARE-UHY1004,31/12/17,31/5/18,14/6/18,19/6/18,USD,6,15,259,12,5,0.075,"1,001.18","1,963.10"
1,SO - 000102,Online,WARE-NMK1003,31/12/17,31/5/18,22/6/18,2/7/18,USD,14,20,196,27,3,0.075,"3,348.66","3,939.60"
2,SO - 000103,Distributor,WARE-UHY1004,31/12/17,31/5/18,21/6/18,1/7/18,USD,21,16,213,16,1,0.050,781.22,"1,775.50"
3,SO - 000104,Wholesale,WARE-NMK1003,31/12/17,31/5/18,2/6/18,7/6/18,USD,28,48,107,23,8,0.075,"1,464.69","2,324.90"
4,SO - 000105,Distributor,WARE-NMK1003,10/4/18,31/5/18,16/6/18,26/6/18,USD,22,49,111,26,8,0.100,"1,476.14","1,822.40"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,In-Store,WARE-MKL1006,26/9/20,30/12/20,7/1/21,14/1/21,USD,9,41,339,29,1,0.075,121.94,234.5
7987,SO - 0008088,Online,WARE-NMK1003,26/9/20,30/12/20,2/1/21,4/1/21,USD,14,29,202,3,6,0.050,"1,921.56","3,202.60"
7988,SO - 0008089,Online,WARE-UHY1004,26/9/20,30/12/20,23/1/21,26/1/21,USD,14,32,241,35,5,0.200,"2,792.76","3,825.70"
7989,SO - 0008090,Online,WARE-NMK1003,26/9/20,30/12/20,20/1/21,25/1/21,USD,20,42,112,36,8,0.100,804,"1,072.00"
7990,SO - 0008091,In-Store,WARE-UHY1004,26/9/20,30/12/20,13/1/21,19/1/21,USD,6,41,237,43,5,0.075,"1,370.82","2,211.00"

In [16]:
""""These are codes for finding information gived in Point 1 in README.md"""

# df_sql=pd.read_sql_query('select count(distinct("WarehouseCode")) from US_regional_sales   ',conn)
# df_sql=pd.read_sql_query('select count(distinct("_ProductID")) from US_regional_sales   ',conn)
# df_sql=pd.read_sql_query('select distinct("Sales Channel") from US_regional_sales   ',conn)
# df_sql=pd.read_sql_query('select count(distinct("_SalesTeamID")) from US_regional_sales   ',conn)
# df_sql=pd.read_sql_query('select distinct("Discount applied") from US_regional_sales   ',conn)
# df_sql

'"These are codes for finding information gived in Point 1 in README.md'

In [17]:
# Just anlayze is the data set just for education 
new_query=pd.read_sql_query("SELECT _ProductID, COUNT(DISTINCT [CurrencyCOde]),COUNT(DISTINCT [Unit Cost]) AS distinct_costs, COUNT(DISTINCT [Unit Price]) AS distinct_prices, COUNT(DISTINCT [Discount Applied]) AS distinct_discounts FROM Us_regional_sales GROUP BY _ProductID; ",conn)
new_query

# as result it's for education and doesn't have real values

,_ProductID,COUNT(DISTINCT [CurrencyCOde]),distinct_costs,distinct_prices,distinct_discounts
0,1,1,158,119,7
1,2,1,173,139,7
2,3,1,170,134,7
3,4,1,199,149,7
4,5,1,173,138,7
5,6,1,154,124,7
6,7,1,164,128,7
7,8,1,193,142,7
8,9,1,167,122,7
9,10,1,166,134,7
10,11,1,179,145,7
11,12,1,178,129,7
12,13,1,172,130,7
13,14,1,162,124,7
14,15,1,157,127,7
15,16,1,174,129,7
16,17,1,178,145,7
17,18,1,155,122,7
18,19,1,162,126,7
19,20,1,168,122,7
20,21,1,167,134,7
21,22,1,165,129,7
22,23,1,192,152,7
23,24,1,161,126,7
24,25,1,178,139,7
25,26,1,156,127,7
26,27,1,188,132,7
27,28,1,174,137,7
28,29,1,174,133,7
29,30,1,155,124,7
30,31,1,167,127,7
31,32,1,145,112,7
32,33,1,165,130,7
33,34,1,150,115,7
34,35,1,168,138,7
35,36,1,169,126,7
36,37,1,196,144,7
37,38,1,182,134,7
38,39,1,161,120,7
39,40,1,180,145,7
40,41,1,176,137,7
41,42,1,146,109,7
42,43,1,163,116,7
43,44,1,125,103,7
44,45,1,170,123,7
45,46,1,174,143,7
46,47,1,150,120,7

In [18]:
#Checking if there exist duplicates or no
dupl_check=df.duplicated().tolist()
def dupl_checking(a): 
    b=0
    for i in a:
        
        if i==True:
            b+=1
    if b!=0:
        return "There's no duplicated value "
    else:
        return f"There is/are {b} duplicates "
dupl_checking(dupl_check)

'There is/are 0 duplicates '

In [19]:
# checking if Unit cost is realistic or not
df.groupby(['_ProductID', 'ProcuredDate'])['Unit Cost'].nunique().reset_index()

     _ProductID ProcuredDate  Unit Cost
0             1      1/12/19         15
1             1      10/3/20         18
2             1      10/4/18         19
3             1      15/5/19         12
4             1      18/6/20         15
..          ...          ...        ...
510          47      23/8/19         18
511          47      26/9/20         10
512          47     27/10/18         11
513          47     31/12/17          2
514          47       4/2/19         18

[515 rows x 3 columns]

In [20]:
# here the code for finding the mean value for each product in the same day and converting it for further analyze 

# For deleting non needed spaces and replacing comma to dot 
df['Unit Cost'] = df['Unit Cost'].str.replace(',', '').str.strip()

# Converting data type to float
df['Unit Cost'] = df['Unit Cost'].astype(float)


df['Unit Cost'] = df.groupby(['_ProductID', 'ProcuredDate'])['Unit Cost'].transform('mean')

# Same for unit price 

# For deleting non needed spaces and replacing comma to dot 
df['Unit Price'] = df['Unit Price'].str.replace(',', '').str.strip()

# Converting data type to float
df['Unit Price'] = df['Unit Price'].astype(float)


df['Unit Price'] = df.groupby(['_ProductID', 'OrderDate', "Discount Applied"])['Unit Price'].transform('mean')
df

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,SO - 000101,In-Store,WARE-UHY1004,31/12/17,31/5/18,14/6/18,19/6/18,USD,6,15,259,12,5,0.075,1079.200000,1963.1
1,SO - 000102,Online,WARE-NMK1003,31/12/17,31/5/18,22/6/18,2/7/18,USD,14,20,196,27,3,0.075,3348.660000,3939.6
2,SO - 000103,Distributor,WARE-UHY1004,31/12/17,31/5/18,21/6/18,1/7/18,USD,21,16,213,16,1,0.050,747.073333,1775.5
3,SO - 000104,Wholesale,WARE-NMK1003,31/12/17,31/5/18,2/6/18,7/6/18,USD,28,48,107,23,8,0.075,2268.002500,2324.9
4,SO - 000105,Distributor,WARE-NMK1003,10/4/18,31/5/18,16/6/18,26/6/18,USD,22,49,111,26,8,0.100,1262.627059,1822.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,In-Store,WARE-MKL1006,26/9/20,30/12/20,7/1/21,14/1/21,USD,9,41,339,29,1,0.075,1258.060000,234.5
7987,SO - 0008088,Online,WARE-NMK1003,26/9/20,30/12/20,2/1/21,4/1/21,USD,14,29,202,3,6,0.050,2125.463333,3202.6
7988,SO - 0008089,Online,WARE-UHY1004,26/9/20,30/12/20,23/1/21,26/1/21,USD,14,32,241,35,5,0.200,1412.315556,3825.7
7989,SO - 0008090,Online,WARE-NMK1003,26/9/20,30/12/20,20/1/21,25/1/21,USD,20,42,112,36,8,0.100,725.072500,1072.0
7990,SO - 0008091,In-Store,WARE-UHY1004,26/9/20,30/12/20,13/1/21,19/1/21,USD,6,41,237,43,5,0.075,1270.340000,2211.0

In [22]:
df['RowNum'] = range(1, len(df)+1)
df.to_csv('processed_us_regional_sales.csv' )